html {
    height: 100%;
}

body {
    height: 100%;
    font-size: .875rem;
}

main {
    height: 100%;
    padding-top: 48px;
}

a {
    color: #48C;
    text-decoration: none
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sticky-top {
    width: 100%;
    position: fixed;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #444;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin-top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin-middle {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.info-item {
    color: #666;
    padding-left: 5px;
    padding-right: 0px;
}
.info-input-form {
    margin-bottom: 8px;
    max-width: 300px;
    font-size: 14px;
}
.info-gender-icon {
    margin-bottom: 2px;
    vertical-align: text-bottom;
}
.input-group-text {
    font-size: .85rem;
}
.form-control {
    font-size: .85rem;
}
.form-select {
    font-size: .85rem;
}
.btn {
    font-size: .85rem;
}
tbody {
    border-top: 1px solid #CCC!important
}
.accordion-button {
    padding: 12px 20px 12px 20px;
    box-shadow: none!important;
}
.result-success {
    color: #fff;
    background-color: #25AD40!important;
}
.result-failed {
    color: #fff;
    background-color: #CC2020!important;
}
.result-success:not(.collapsed) {
    color: #fff;
}
.result-failed:not(.collapsed) {
    color: #fff;
}
.page-link {
    color: #444;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
button:disabled.page-link {
    color: #999;
}
td {
    font-size: 0.85rem;
    padding: 10px 10px 10px 10px!important;
}
.table-bt-1 {
    border-top: 1px solid rgb(204, 204, 204);
}
.w-10 {
    width: 10%;
}
.cursor-hover:hover {
    cursor: pointer;
}
.modal.modal-shadow {
    background-color: rgba(0, 0, 0, 0.4);
}